{
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    "no-console": "off",
    "react/no-unescaped-entities": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "no-loop-func": "off",
  },
  "env": {
      "browser": true,
      "node": true,
      "es6": true
  }
}
